@model WmsReferral.Business.Models.QuestionsViewModel
@using WmsReferral.Business.Helpers
@{
    ViewData["Title"] = "Q4";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasErrors = ViewData.ModelState.ErrorCount > 0;
    bool questionAerror = false;
    var surveyref = Url.ActionContext.RouteData.Values["id"];
    if (hasErrors)
    {
        if (ViewData.ModelState["QuestionAResponse"].Errors.Any())
        {
            questionAerror = true;
        }



    }
}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/ncp/@surveyref/Q2">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>

        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">

                <form asp-action="Q4">

                    <div class="@NhsFormHelper.GetFormElementClasses("form-group", questionAerror)">
                        <fieldset class="nhsuk-fieldset">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                <h1 class="nhsuk-label-wrapper">
                                    <span class="nhsuk-label nhsuk-label--l">
                                        Q4 What was your main reason for leaving the programme before the end?  (Select all that apply)
                                    </span>
                                </h1>
                            </legend>
                            <div class="nhsuk-hint" id="example-hint">
                                Select all options that are relevant to you.
                            </div>
                            <span class="nhsuk-error-message">
                                <span asp-validation-for="QuestionAresponse"></span>
                            </span>
                            <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional nhsuk-u-padding-bottom-4">
                                @for (int i = 0; i < Model.QuestionAresponses.Count(); i++)
                                {
                                    var list = Model.QuestionAresponses.ElementAt(i);
                                    @if (i == Model.QuestionAresponses.Count() - 1)
                                    {
                                    }

                                    <div class="nhsuk-checkboxes__item">
                                        <input class="nhsuk-checkboxes__input"
                                           asp-for="@Model.QuestionAresponses[i].Selected"
                                           type="checkbox"
                                           aria-controls="conditional-QuestionAresponses[@i].Selected"
                                           aria-expanded="false" />

                                        <label class="nhsuk-label nhsuk-checkboxes__label" for="@Model.QuestionAresponses[i].Selected">
                                            @list.Text
                                        </label>
                                        <input type="hidden" asp-for="@Model.QuestionAresponses[i].Value" />
                                        <input type="hidden" asp-for="@Model.QuestionAresponses[i].Text" />
                                    </div>
                                    @if (Model.QuestionAresponses[@i].Text == "f. Other")
                                    {
                                        <div class="nhsuk-checkboxes__conditional @(Model.QuestionAresponses[i].Selected != true ? "nhsuk-checkboxes__conditional--hidden" : "")" id="conditional-QuestionAresponses[@i].Selected">
                                            <div class="nhsuk-form-group">
                                                <label class="nhsuk-label" for="QuestionAresponse">
                                                    Other
                                                </label>
                                                <input asp-for="QuestionAresponse" class="nhsuk-input nhsuk-u-width-full" autocomplete="off" type="text">
                                            </div>

                                        </div>
                                    }

                                }

                            </div>
                        </fieldset>
                    </div>

                    <input type="submit" value="Continue" class="nhsuk-button nhsuk-u-margin-top-3" />
                </form>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
