@model WmsReferral.Business.Models.QuestionsViewModel
@using WmsReferral.Business.Helpers
@{
    ViewData["Title"] = "Q1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasErrors = ViewData.ModelState.ErrorCount > 0;
    bool questionAerror = false;
    bool questionBerror = false;
    bool questionCerror = false;
    var surveyref = Url.ActionContext.RouteData.Values["id"];

    if (hasErrors)
    {
        if (ViewData.ModelState["QuestionAResponse"].Errors.Any())
        {
            questionAerror = true;
        }
        if (ViewData.ModelState["QuestionBResponse"].Errors.Any())
        {
            questionBerror = true;
        }
        if (ViewData.ModelState["QuestionCResponse"].Errors.Any())
        {
            questionCerror = true;
        }


    }
}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="/cpl1/@surveyref/begin">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>

        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-heading-l">Q1. Thinking about when you were referred to the NHS Digital Weight Management Programme, to what extent do you agree or disagree with the following statements:</h1>
                <form asp-action="q1" method="post">
                    <h2 class="nhsuk-heading-m">
                        <label class="nhsuk-label nhsuk-label--s">
                            
                        </label>
                    </h2>                    
                    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">


                    <div class="@NhsFormHelper.GetFormElementClasses("form-group", questionAerror)">
                        <fieldset class="nhsuk-fieldset">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                <label class="nhsuk-label nhsuk-label--m nhsuk-u-margin-bottom-0">
                                    a)	My healthcare professional (e.g. my GP, nurse, pharmacist etc) was supportive during my consultation and when referring me to the NHS Digital Weight Management Programme?
                                </label>
                            </legend>
                            <span class="nhsuk-error-message">
                                <span asp-validation-for="QuestionAresponse"></span>
                            </span>

                            <div class="nhsuk-radios nhsuk-radios">
                                @for (int i = 0; i < Model.Responses.Count(); i++)
                                {
                                    var list = Model.Responses.ElementAt(i);
                                    @if (i == Model.Responses.Count() - 1)
                                    {
                                    }
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                           id="QuestionAResponse-@i"
                                           asp-for="QuestionAresponse"
                                           type="radio"
                                           value=@list.Key />
                                        <label class="nhsuk-label nhsuk-radios__label" for="QuestionAResponse-@i">
                                            @list.Value
                                        </label>
                                    </div>
                                }

                            </div>
                        </fieldset>
                    </div>
                    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
                    <div class="@NhsFormHelper.GetFormElementClasses("form-group", questionBerror)">
                        <fieldset class="nhsuk-fieldset">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                <label class="nhsuk-label nhsuk-label--m nhsuk-u-margin-bottom-0">
                                    b)	There was enough information about each weight management provider on the Digital Weight Management Programme Selection Hub to allow me to choose a programme that was right for me?
                                </label>
                            </legend>
                            <span class="nhsuk-error-message">
                                <span asp-validation-for="QuestionBresponse"></span>
                            </span>

                            <div class="nhsuk-radios nhsuk-radios">
                                @for (int i = 0; i < Model.Responses.Count(); i++)
                                {
                                    var list = Model.Responses.ElementAt(i);
                                    @if (i == Model.Responses.Count() - 1)
                                    {
                                    }
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                           id="QuestionBresponse-@i"
                                           asp-for="QuestionBresponse"
                                           type="radio"
                                           value=@list.Key />
                                        <label class="nhsuk-label nhsuk-radios__label" for="QuestionBresponse-@i">
                                            @list.Value
                                        </label>
                                    </div>
                                }

                            </div>
                        </fieldset>
                    </div>
                    <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
                    <div class="@NhsFormHelper.GetFormElementClasses("form-group", questionCerror)">
                        <fieldset class="nhsuk-fieldset">
                            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                <label class="nhsuk-label nhsuk-label--m nhsuk-u-margin-bottom-0">
                                    c)	I was glad to have a choice in which programme I could join?
                                </label>
                            </legend>
                            <span class="nhsuk-error-message">
                                <span asp-validation-for="QuestionCresponse"></span>
                            </span>

                            <div class="nhsuk-radios nhsuk-radios">
                                @for (int i = 0; i < Model.Responses.Count(); i++)
                                {
                                    var list = Model.Responses.ElementAt(i);
                                    @if (i == Model.Responses.Count() - 1)
                                    {
                                    }
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input"
                                           id="QuestionCresponse-@i"
                                           asp-for="QuestionCresponse"
                                           type="radio"
                                           value=@list.Key />
                                        <label class="nhsuk-label nhsuk-radios__label" for="QuestionCresponse-@i">
                                            @list.Value
                                        </label>
                                    </div>
                                }

                            </div>
                        </fieldset>
                    </div>


                    <input type="submit" value="Continue" class="nhsuk-button nhsuk-u-margin-top-3" />
                </form>

            </div>
        </div>
    </div>
</div>
@{
    TempData.Keep("Survey");
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
