@model WmsReferral.Business.Models.DateOfBirthViewModel
@using WmsReferral.Business.Helpers

@{
    ViewData["Title"] = "Date of Birth";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasErrors = ViewData.ModelState.ErrorCount > 0;
    bool dayError = false;
    bool monthError = false;
    bool yearError = false;
    bool dateError = false;

    if (hasErrors)
    {
        if (ViewData.ModelState["Day"].Errors.Any())
        {
            dayError = true;
        }
        if (ViewData.ModelState["Month"].Errors.Any())
        {
            monthError = true;
        }
        if (ViewData.ModelState["Year"].Errors.Any())
        {
            yearError = true;
        }
        if (ViewData.ModelState.ContainsKey("DateError"))
        {
            if (ViewData.ModelState["DateError"].Errors.Any())
            {
                dateError = true;
            }
        }
    }

}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" asp-action="select-ethnicity" asp-route-id="@Model.BackActionRoute">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>

        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">

                <form method="post" asp-action="DateofBirth">
                    <div class="@NhsFormHelper.GetFormElementClasses("form-group", hasErrors)">
                        <fieldset class="nhsuk-fieldset nhsuk-u-padding-bottom-6"
                                  role="group">
                            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                                <h1 class="nhsuk-fieldset__heading">
                                    Your date of birth is
                                </h1>
                            </legend>

                            @if (dateError)
                            {
                                <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
                                    <h2 class="nhsuk-error-summary__title" id="error-summary-title">
                                        There is a problem
                                    </h2>
                                    <div class="nhsuk-error-summary__body">
                                        <div asp-validation-summary="ModelOnly"></div>
                                        @foreach (var error in ViewData.ModelState["DateError"].Errors)
                                        {
                                            <span class="field-validation-error">@error.ErrorMessage</span>
                                        }
                                    </div>
                                </div>
                            }


                            <span class="nhsuk-error-message" id="dob-errors-error">
                                <span asp-validation-for="Day"></span>
                                <span asp-validation-for="Month"></span>
                                <span asp-validation-for="Year"></span>
                            </span>

                            <div class="nhsuk-date-input" id="dob">
                                <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                        <label class="nhsuk-label nhsuk-date-input__label"
                                               asp-for="Day">
                                        </label>
                                        <input class="@NhsFormHelper.GetFormElementClasses("date", dayError) nhsuk-input--width-2"
                                               asp-for="Day"
                                               type="number"
                                               readonly                                               
                                               autocomplete="bday-day">
                                       
                                    </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                        <label class="nhsuk-label nhsuk-date-input__label"
                                               asp-for="Month">
                                        </label>
                                        <input class="@NhsFormHelper.GetFormElementClasses("date", monthError) nhsuk-input--width-2"
                                               asp-for="Month"
                                               type="number"
                                               readonly                                               
                                               autocomplete="bday-month">
                                        
                                    </div>
                                </div>
                                <div class="nhsuk-date-input__item">
                                    <div class="nhsuk-form-group">
                                        <label class="nhsuk-label nhsuk-date-input__label"
                                               asp-for="Year">
                                        </label>
                                        <input class="@NhsFormHelper.GetFormElementClasses("date", yearError) nhsuk-input--width-4"
                                               asp-for="Year"
                                               type="number"
                                               readonly                                               
                                               autocomplete="bday-year">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">
                                <span class="nhsuk-u-visually-hidden">Information: </span>
                                <h3>Date of birth</h3>
                                <p>This field is populated from NHS login data, it is not possible to change it here.</p>
                                <details class="nhsuk-details">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            Date of birth incorrect?
                                        </span>
                                    </summary>
                                    <div class="nhsuk-details__text">
                                        <p>
                                            If your date of birth is incorrect, logout and speak to your GP to get it amended. <br /><br />Once corrected, return here to continue your referral.
                                        </p>
                                        

                                    </div>
                                </details>
                            </div>
                        </fieldset>
                    </div>
                    <input type="submit"
                           value="Continue"
                           class="nhsuk-button" />
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
<partial name="_ValidationScriptsPartial" />
}