@model WmsReferral.Business.Models.ProviderChoiceModel

@{
    ViewData["Title"] = "Your Provider Choices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-card wms-card">
            <div class="nhsuk-card__content">
                <form method="post" id="formProviderChoice"
                      asp-action="provider-choice">
                    <input type="hidden" asp-for="Ubrn" />
                    <fieldset class="nhsuk-fieldset nhsuk-u-padding-bottom-6"
                              aria-describedby="serviceuser-provider-hint"
                              aria-labelledby="serviceuser-provider-label">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                            <h1 class="nhsuk-fieldset__heading" id="serviceuser-provider-label">
                                Services for you
                            </h1>
                        </legend>
                        <div class="nhsuk-form-group">

                            <div class="nhsuk-hint" id="serviceuser-provider-hint">
                                The following Providers of the NHS Digital Weight Management Programme currently have capacity for you to start their plan,
                                select a service name to find out what each plan offers
                            </div>

                            <span class="nhsuk-error-message" id="provider-error-message">

                                <span asp-validation-for="ProviderId"></span>
                            </span>
                            <div class="nhsuk-expander-group">

                                @for (int i = 0; i < Model.ProviderChoices.Count; i++)
                                {
                                    var provider = Model.ProviderChoices[i];

                                    <div>
                                        <input type="hidden"
                                           name="Providers[@i].Name"
                                           value="@Model.ProviderChoices[i].Name" />
                                        <input type="hidden"
                                           name="Providers[@i].Id"
                                           value="@Model.ProviderChoices[i].Id" />


                                        <details class="nhsuk-details nhsuk-expander serviceuser-provider-detail-box">
                                            <summary class="nhsuk-details__summary">
                                                <h2 class="nhsuk-details__summary-text">
                                                    @provider.Name
                                                </h2>
                                            </summary>
                                            <div class="nhsuk-details__text">

                                                @* Summary *@
                                                <div class="nhsuk-grid-row serviceuser-provider-row">
                                                    <div class="nhsuk-grid-column-full">
                                                        @if (provider.Logo != null)
                                                        {
                                                            <div class="serviceuser-provider-logo-wrapper">
                                                                <img class="serviceuser-provider-logo" src="@provider.Logo" alt="@provider.Name logo" width="128" height="128" />

                                                            </div>
                                                        }
                                                        <p>@Html.Raw(@provider.Summary)</p>
                                                    </div>
                                                </div>

                                                <hr class="serviceuser-provider-hr" />

                                                @* Radio button *@
                                                <div class="nhsuk-grid-row">
                                                    <div class="nhsuk-grid-column-one-half">
                                                        <div class="nhsuk-form-group">

                                                            <fieldset class="nhsuk-fieldset" aria-describedby="hint-@provider.Id">
                                                                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                                                    Use this service?
                                                                </legend>

                                                                <div class="nhsuk-hint" id="hint-@provider.Id">
                                                                    Click the button below to select this service.
                                                                </div>

                                                                <div class="nhsuk-radios">
                                                                    <div class="nhsuk-radios__item">
                                                                        <input class="nhsuk-radios__input"                                                                           
                                                                           id="contact-@provider.Id"
                                                                           asp-for="ProviderId"
                                                                           type="radio"
                                                                           value=@provider.Id                                                                           
                                                                           data-provider-Name="@provider.Name">
                                                                        <label class="nhsuk-label nhsuk-radios__label" for="contact-@provider.Id">
                                                                            Select @provider.Name
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <a href="#confirm-choice" class="nhsuk-link nhsuk-link--no-visited-state">&#9660; Scroll to continue button</a>

                                                            </fieldset>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </details>
                                    </div>
                                }
                            </div>
                        </div>
                    </fieldset>

                    @* Show selected service *@
                    <a name="confirm-choice"></a>
                    <div class="nhsuk-inset-text hidden" id="serviceuser-provider-selected-wrapper">
                        <span class="nhsuk-u-visually-hidden">Information: </span>
                        <p>You have chosen: <span id="serviceuser-provider-selected-display" class="nhsuk-u-font-weight-bold"></span>. Use the button below to select this service or select another service from the list above.</p>
                    </div>

                    <input type="submit" id="btnSubmit" value="Choose service and continue" class="nhsuk-button" />
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
<partial name="_ValidationScriptsPartial" />
<script src="~/js/Views/providerChoice.js"></script>
}

